.block4 {

  &__subtitle {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #777777;
    margin-bottom: 30px;
  }

  &__icon {

    &-item {
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 10px;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
    }

    p {
      font-size: 19px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

  &__software-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .block4__icons-box {
      display: flex;
      grid-column-gap: 30px;
    }
  }
}
.block4__wrap {
  max-width: 870px;
  margin: 0 auto;
}



@media (max-width: 1440px) {
  .block4 {
    &__wrap {
      max-width: 728px;
    }

    &__subtitle {
      font-size: 25px;
      line-height: 35px;
    }

    .block4__icon {
      svg {
        height: 70px;
        width: 70px;
      }
    }
  }
}

@media (max-width: 767px) {
  .block4 {

    &__wrap {
      max-width: 400px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__subtitle {
      margin-bottom: 23px;
    }

    &__software-box {
      margin-top: 21px;
      flex-direction: column;
    }

    &__icon {
      p {
        font-size: 16px;
      }
    }

    &__web-design {
      margin-bottom: 25px;
    }
  }
}