.block4 {

  &__subtitle {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #777777;
    margin-bottom: 30px;
  }

  &__icon {

    &-item {
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 10px;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
    }

    p {
      font-size: 19px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #000000;
    }
  }

}

.block4__wrap {
  max-width: 870px;
  margin: 0 auto;

  .block4__software-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


    .block4__icons-box {
      display: grid;
      grid-column-gap: 30px;
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (max-width: 1024px) {
  .block4 {
    &__wrap {
      max-width: 728px;
    }
  }
}