.block2 {
  display: block;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 97px;
}
.block2__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}
.block2__item {
  display: flex;
  width: 50%;
  padding-right: 40px;

  &:nth-child(-n+2) {
    margin-bottom: 36px;
  }

  &:nth-child(n+3) {
    padding-right: 0;
  }
  p {
    display: block;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    letter-spacing: -.03em;

    &:first-child {
      padding-bottom: 8px;
    }
  }

  svg {
    margin-right: 19px;
  }
}

@media (max-width: 1440px) {
  .block2 {
    padding-top: 38px;
    padding-bottom: 47px;

    &__wrap {
      max-width: 728px;
    }

    &__item {
      p {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .block2 {
    margin-left: auto;
    margin-right: auto;

    &__wrap {
      max-width: 728px;
    }
  }
  .block2__item {
    width: 50%;
    margin-bottom: 28px;

    &:last-child {
      width: 50%;
    }
    p {
      font-size: 25px;
      line-height: 35px;
      &:first-child {
        padding-bottom: 2px;
      }
    }
  }
}

@media (max-width: 767px) {

  .block2 {
    padding-top: 0;
  }
  .block2__wrap {
    display: block;
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .block2__item {
    margin-bottom: 23px;
    width: 100%;

    &:nth-child(-n+2) {
      margin-bottom: 23px;
    }

    &:last-child {
      width: 100%;
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      line-height: 130%;
    }
  }
}
